.container {
  position: relative;
  min-width: 100%;
  min-height: 100vh;
}

.contentContainer {
  text-align: center;
}

footer {
  border-top: solid 1px #fff;
  padding: 52px 70px 50px;
  text-align: center;
  position: sticky;
  top: 100vh;
  background-color: #171c21;
}

.footerText {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: #f9f9f9;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.overTheForm {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 0;
  background-color: rgba(216, 216, 216, 0.27);
  height: 150px;
  display: flex;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/julie-614ba.appspot.com/o/female-hands.png?alt=media&token=424bef5d-4e9c-4f4b-9b20-efc45495bac4");
}

.overTheFormSuperimposition {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-color: #171c21;
}

.privacyText {
  max-width: 850px;
  margin: 0 auto;
  text-align: justify;
  padding: 0 20px;
}

.headerContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-self: flex-end;
  z-index: 100;
  padding: 0 14px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
.headerText {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.avatarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.avatarStyle {
  width: 3rem;
  height: 3rem;
  border: 0.2rem solid #fff;
  font-size: 20px;
}
.header,
.subheader {
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 2px;
  color: #f9f9f9;
  text-transform: uppercase;
}

.subheader {
  margin-bottom: 13px;
}

.w-100 {
  width: 100%;
}

.datePickerContainer {
  margin-bottom: 40px;
  height: 100%;
}

.button {
  margin: 40px 5px 0;

  letter-spacing: 1.5px;
  padding: 10px 0;
  cursor: pointer;
  text-transform: uppercase;
  width: 100%;
  background-color: rgb(23, 28, 33);
  line-height: 22px;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  max-width: 394px;
  text-align: center;
}

.copyBtn {
  margin: 0;
  font-size: small;
  padding: 10px 5px;
}
.copyBtn:hover {
  background-color: #dbffdb;
  color: #171c21;
}

.button:disabled {
  opacity: 0.4;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formContainer {
  max-width: 534px;
  margin: 0 auto;
  padding: 32px 14px 80px;
}

@media only screen and (min-width: 768px) {
  .overTheForm {
    height: 250px;
  }
}
@media only screen and (min-width: 350px) {
  .avatarStyle {
    width: 4rem;
    height: 4rem;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    font-size: 40px;
    letter-spacing: 1.5px;
    line-height: 1.5;
  }
  .avatarStyle {
    width: 6rem;
    height: 6rem;
    border: 0.3rem solid #fff;
    font-size: 28px;
  }
}

@media only screen and (max-width: 350px) {
  .headerContainer {
    display: grid;
    grid-template-columns: 1fr;
  }
  .headerText {
    order: 2;
  }
}
/* @media only screen and (min-width: 956px) {
  .overTheForm {
    height: 300px;
  }
} */
